<div class="page-header">
	<h2><%= @post.name %></h2>
</div>
<dl class="dl-horizontal post">
  <dt>
  	<%= @post.user.displayed_name %><br />
  	<div class="avatar">
    	<%= image_tag gravatar_url(@post.user) %>
    </div>
    <small><%= @post.created_at.strftime('%d.%m.%Y в %H:%M') %></small>
  	
  </dt>
  <dd><%= sanitize @post.body.gsub(/\n/, '<br/>') %></dd>
</dl>
<%= link_to 'Ко всем темам', posts_path, class: 'btn btn-default' %>
<%= link_to 'Редактировать', edit_post_path(@post), class: 'btn btn-default' if @post.user == current_user %>
<!-- <blockquote>		
	<small><cite title="Source Title"></cite></small>
</blockquote> -->
<hr />

<h4>Комментарии</h4>

<div class="first_level comment_box">
	<% @comments.each do |c| %>
		<div class="next_level">
			<blockquote>
			  <div class="avatar">
				  <%= image_tag gravatar_url(c.user, 50) %>
			  </div>
			  <p><%= c.body %></p>
			  <small class="pull-right reply"><%= link_to 'Ответить', new_post_comment_path(@post, comment_id: c.id), remote: true, class: "add_comment#{c.id}" %></small>
			  <small><%= c.user.displayed_name %> @ <%= c.created_at.strftime('%d.%m.%Y в %H:%M')%></small>
			</blockquote>
			<%= render '/comments/comment', comments: c.descendants.arrange %>
		</div>
	<% end %>
</div>
<div class="root_comment">
	<h4><%= link_to 'Добавить комментарий', new_post_comment_path(@post, comment_id: 0), remote: true, class: 'add_comment0' %></h4>
</div>
<%= render :partial => '/comments/form' %>
